@tailwind base;
@tailwind components;
@tailwind utilities;

.radial-gradient-example {
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, #1659dd, #0a41ae, #0C368900);
    
    box-shadow: 0px 0px 60px #155EEF;
  }